* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.wrapper {
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(90deg, red 30%, black 30%);
}

.container {
    margin: 0 auto;
    max-width: 1642px;
}

.header {
    display: flex;
    margin-top: 46px;
    font-size: 20px;
    line-height: 30px;
    padding-left: 20px;
    text-align: right;
    justify-content: space-between;
}

.content__img {
	top: 0;
	bottom: 0;
	width: 100%;
	z-index: 1;
}

.car__img {
  width: 100%;  
}

.title {
    display: flex;
    margin-right: 20px;
}

.name {
    color: #000000;
}

.header__right {
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
}

.text {
    display: flex;
    justify-content: center;
    font-size: 350px;
    color: rgb(255, 255, 255);
    overflow: hidden;
    background-size: cover;
}

.nav__list {
    display: flex;
    list-style: none;
    color: #ffffff;
}

.list {
    padding-right: 40px;
    color: #ffffff;
    text-decoration: none;
}

.list__model {
    text-decoration: underline rgb(255, 0, 0);
}

.search__car {
    color: #8a8a8a;
    margin-right: 20px;
}

.img__search {
   width: 20px;
   height: 20px;
}

.header__search {
    position: relative;
    width: 189px;
}

.header__search::before {
    content: '';
    width: 20px;
    height: 20px;
    display: block;
    background-image: url(img/search.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    bottom: 8px;
    left: 0;
}

.search {
    border: none;
    outline: none;
    border-bottom: 1px solid #FFFFFF;
    background-color: #000000;
    color: #ffffff;
    width: 100%;
    display: block;
    height: 100%;
    padding-bottom: 8px;
    padding-left: 44px;
}